body{
    display: flex;
    justify-content: center;
}

div div{
    height: 25px;
    width: 25px;
    border: 1px solid
}

.orangeClair{
    background-color: orange;
}

.orangeFonce{
    background-color: rgb(255, 125, 0);
}

.noir{
    background-color: black;
}

.vert{
    background-color: green;
}

.jaune{
    background-color: yellowgreen;
}

.vertClair{
    background-color: orangered;
}